<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <gui-titulo titulo="Formulários"></gui-titulo>

            <p>Texto: {{texto}}</p>
            <p>
                <input type="text" v-model="texto">
            </p>

            <p>Textarea: {{textarea }}</p>
            <p style="white-space: pre-line">Textarea: {{textarea }}</p>
            <p>
                <textarea rows="8" cols="80" v-model="textarea"></textarea>
            </p>

            <p>Checkbox:</p>
            <input type="checkbox" id="aceitaTermos" v-model="termos">
            <label for="aceitaTermos">{{termos}}</label>
        </div>

        <script type="text/javascript">
Vue.component('gui-titulo', {
    props: ['titulo'],
    template: '<h2>{{titulo}}</h2>'
});
var app = new Vue({
    el: "#app",
    data: {
        texto: '',
        textarea: '',
        termos: false
    }
});
        </script>
    </body>
</html>
